<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>伝言板</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="p-4 bg-black text-white">
    <h1 class="text-4xl">伝言板サンプル</h1>
  </div>
  <div class="p-4">
    <a
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      href="/messages"
      >伝言板サンプルアプリケーションを起動します</a
    >
  </div>
</body>
