[Unit]
Description=Message Board Application
After=syslog.target network.target auditd.service

[Service]
ExecStart=/opt/dengonban/v1/src/index.js
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
